.delay, .advance {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 3px #bbc8dd, -5px -5px 3px #f9ffff;
          box-shadow: 5px 5px 3px #bbc8dd, -5px -5px 3px #f9ffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #808da4;
}

body {
  height: 100vh;
  background-color: #e9f1fb;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 3fr 1fr 1fr;
      grid-template-rows: 60px 3fr 1fr 1fr;
  place-items: center;
}

.header p {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.cards {
  padding: 10px;
}

.wrapper {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 350px;
  min-width: 250px;
  min-height: 250px;
  margin: 0  10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 4px #bbc8dd, -5px -5px 4px #f9ffff;
          box-shadow: 5px 5px 4px #bbc8dd, -5px -5px 4px #f9ffff;
}

.card img {
  border-radius: 50%;
  width: 70%;
  max-height: 230px;
}

.card__details {
  text-align: center;
  margin-top: 15px;
}

.card__details h2 {
  font-size: 2.3rem;
}

.card__details p {
  font-size: 1.5rem;
  color: #c1cad8;
}

.progressBar {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.progressBar .bar {
  position: relative;
  width: 80%;
  height: 10px;
  background-color: #c1cad8;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 8px #d1dff1, inset -5px -5px 10px  #ffffff;
          box-shadow: inset 2px 2px 8px #d1dff1, inset -5px -5px 10px  #ffffff;
}

.progressBar .bar .progress {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 30%;
  background-color: #668fff;
}

.progressBar .bar .thumb {
  position: absolute;
  bottom: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 25px;
  height: 25px;
  background-color: #e9f1fb;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 7px  #c7d4e9;
          box-shadow: 2px 2px 7px  #c7d4e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressBar .bar .thumb .point {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  background-color: #668fff;
}

.progressBar .minutes {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  font-size: 2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}

.delay {
  background: url("../images/back.svg") center/50% no-repeat;
}

.togglePlay {
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #668fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 3px #cad8ef, -5px -5px 3px #f9ffff;
          box-shadow: 5px 5px 3px #cad8ef, -5px -5px 3px #f9ffff;
}

.togglePlay img {
  width: 50%;
  height: 50%;
}

.advance {
  background: url("../images/skip.svg") center/50% no-repeat;
}
/*# sourceMappingURL=style.css.map */