$primary-color: #e9f1fb;
$second-color: #668fff;

// fontColors
$main-color: #808da4;
$light-color: #c1cad8;

%icon{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  box-shadow:  5px 5px 3px #bbc8dd,
  -5px -5px 3px #f9ffff;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $main-color;
}

body{
  height: 100vh;
  background-color: $primary-color;
  display: grid;
  grid-template-rows: 60px 3fr 1fr 1fr;
  place-items: center ;
}

.header p{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.cards{
  padding:10px ;
}
.wrapper{
  padding: 20px;
  display: flex;
  max-width: 320px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}

.card{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  min-width: 250px;
  min-height: 250px;
  margin: 0  10px ;
  border-radius: 10px;
  box-shadow:  5px 5px 4px #bbc8dd,
  -5px -5px 4px #f9ffff;
}

.card img{
  border-radius: 50%;
  width: 70%;
  max-height: 230px;
}
.card__details{
  text-align: center;
  margin-top: 15px;

    h2{
      font-size: 2.3rem;
    }
    p{
      font-size: 1.5rem;
      color: $light-color;
    }
}

.progressBar{
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;

    .bar{
      position: relative;
      width: 80%;
      height: 10px;
      background-color: $light-color;
      border-radius: 10px;
      box-shadow: inset 2px 2px 8px #d1dff1,
      inset -5px -5px 10px  #ffffff;

        .progress{
          position: absolute;
          border-radius: 10px; 
          height: 100%;
          width: 30%;
          background-color: $second-color;
        }

        .thumb{
          position: absolute;
          bottom: 50%;
          left: 30%;
          transform: translate(-50%, 50%);
          width: 25px;
          height: 25px;
          background-color: $primary-color;
          border-radius: 50%;
          box-shadow: 2px 2px 7px  #c7d4e9;
          display: flex;
          justify-content: center;
          align-items: center;

            .point{
              width: 35%;
              height: 35%;
              border-radius: 50%;
              background-color: $second-color;
            }

        }
    }
    .minutes{
      width: 80%;
      display: flex;
      justify-content: space-between;
      top: 0 ;
      font-size: 2rem;
    }
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
}
.delay{
  @extend %icon;
  background: url('../images/back.svg') center / 50% no-repeat;
}
.togglePlay{
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  5px 5px 3px #cad8ef,
  -5px -5px 3px #f9ffff;

    img{
      width: 50%;
      height: 50%;
    }
}
.advance{
  @extend %icon;
  background: url('../images/skip.svg') center / 50% no-repeat;

}

